* {
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.item-flex {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-flex1 {
    padding: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #ffff;
}

.item-flex2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#Header{
    background-color: #2b434d;
    color: #ffff;
}

#Header1{
    background-color: #2b434d;
    color: #ffff;
    grid-column: 1 / -1;
    grid-row: 3;
}

#Header2{
    background-color: #2b434d;
}

#header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subheader{
    font-size: small;
}

#Content {
    grid-column: 1 / -1;
    background-color: #be8535;
    grid-row: 1 / span 8;
}

#image{
    grid-column: 1 / span 1;
    grid-row: 4;
}

.item-flex3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

img{
    width: 90px;
    height: 90px;
}


#image2 {
    grid-column: 2 / span 1;
    grid-row: 4;
}

#image3 {
    grid-column: 3 / span 1;
    grid-row: 4;
}

#Header2{
    background-color: #2b434d;
    grid-column: 1 / -1;
    grid-row: 5;
    color: #ffffff;
}
.submit
{
    cursor: pointer;   
    background-color: #be8535;
}